@use './colors' as *;

@mixin hover-style {
    &::before, &::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        transition: .3s;
    }
    
    &::before {
        top: -10px;
        left: -12px;
        border-top: 0px solid $secondary-orange;
        border-left: 0px solid $secondary-orange;
    }
    
    &::after {
        bottom: -8px;
        right: -12px;
        border-bottom: 0px solid  $secondary-orange;
        border-right: 0px solid $secondary-orange;
    }
    
    &:hover::before, &:hover::after {
        width: 50%;
        height: 80%;
    }
    
    &:hover::before {
        border-top: 3px solid $secondary-orange;
        border-left: 3px solid $secondary-orange;
    }
    
    &:hover::after {
        border-bottom: 3px solid $secondary-orange;
        border-right: 3px solid $secondary-orange;
    }
}