@use './colors' as *;
@use './font' as *;
@use './mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $darker-white-color;
	font-family: $main-font;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}

.test {
	height: 100vh;
}

// NAVIGATION
// NAVIGATION
// NAVIGATION
.fi {
	font-size: 1.2rem;
}

nav {
	background-color: $main-black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 80px;

	&__logo-box,
	&__login-box,
	&__language-box {
		display: inline-block;
	}

	&__logo-box {
		position: relative;
		margin-left: 25px;
		padding: 0px 5px;
		min-width: 130px;
		text-decoration: none;
		@include hover-style;
	}

	&__logo {
		color: $darker-white-color;
		font-size: 2.5rem;
		font-weight: bold;
	}

	&__logo-name {
		margin-left: 10px;
		font-family: $secondary-font;
		font-size: 2rem;
		color: $darker-white-color;
	}

	&__mobile-box{
		display: inline-block;
		position: relative;
		margin-top: 5px;
	}
	
	&__mobile-icon {
		border: 1px solid transparent;
		background-color: transparent;
		font-size: 1.2rem;
		font-weight: bold;
		color: $darker-white-color;
		cursor: pointer;
		@include hover-style;
	}

	&__mobile-items-box {
		position: absolute;
		left: -20px;
		top: 47px;
	}

	&__item-mobile {
		display: none;
		opacity: 0;
		border-top: 1px solid $darker-white-color;
		background-color: $secondary-black;
		text-align: center;
		color: $darker-white-color;
		text-decoration: none;
		padding: 15px;
		font-size: 1.2rem;
		font-weight: bold;
		transition: color .3s;
		animation: navMobileAnimation .5s forwards;

		&:hover {
			color: $secondary-orange;
		}
		
		&:first-child {
			border-top: none;
		}

		&:nth-child(2){
			animation-delay: .2s;
		}
		&:nth-child(3){
			animation-delay: .4s;
		}
		&:nth-child(4){
			animation-delay: .6s;
		}
		&:nth-child(5){
			animation-delay: .8s;
		}
		
		&:last-child{
			border-bottom: none;
		}
	}
	
	&__active {
		display: block;
	}

	&__items-box {
		display: none;
	}

	&__item {
		margin: 0 20px;
		color: $darker-white-color;
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		transition: color 0.3s;

		&:hover {
			color: $secondary-orange;
		}
	}

	&__login-box {
		margin-top: 5px;
	}

	&__login {
		position: relative;
		color: $darker-white-color;
		font-size: 1.2rem;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		@include hover-style;
	}

	&__language-box {
		margin-right: 10px;
		margin-top: 5px;
	}
}

// HEADER
// HEADER
// HEADER

.header {
	&__box {
		position: relative;
		width: 100%;
		min-height: 100vh;
		margin: 0 auto;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url('../../dist/img/dent-chair_640.jpg');
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: -5;
	}

	&__img-shadow {
		top: 0;
		left: 0;
		position: absolute;
		background: rgb(235,236,242);
		background: rgb(235,236,242);
		background: linear-gradient(90deg, rgba(235,236,242,0.9475140397956058) 19%, rgba(235,236,242,0.8746849081429446) 44%, rgba(44,62,187,0) 68%);
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 350px;
		margin-top: 20px;
		z-index: 0;
	}

	&__text-title {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 25px;
	}

	&__text-title--company {
		font-size: 4rem;
		font-family: $secondary-font;
	}

	&__text {
		text-align: center;
		font-size: 1.6rem;
		line-height: 2em;
		margin-bottom: 20px;
	}

	&__text-btn {
		@include btn-style;
	}
}

// MAIN
// MAIN
// MAIN
.main {
	scroll-margin-top: 85px;
}
// OFFER

.offer {
	margin: 40px 20px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: 3rem;
		font-family: $secondary-font;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__card {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		background-color: $white-color;
		border-radius: 8px;
		margin: 20px 0px;
		box-shadow: 0px 3px 24px -6px rgba(66, 68, 90, 1);
		overflow: hidden;
		border: 1px solid rgba(66, 68, 90, 9);
		transition: color .3s, border .3s, transform .3s;

		&:hover {
			color: $secondary-orange;
			border: 1px solid $secondary-orange;
			transform: scale(1.05);
			.offer__card-element {
				color: $secondary-orange;
			}
		}
	}

	&__card-img {
		width: 100%;
		max-width: 480px;
		min-height: 200px;
		max-height: 350px;
	}

	&__card-text-box {
		margin: 15px;
	}

	&__card-title {
		text-align: center;
		font-size: 2.4rem;
		font-weight: 400;
	}
	
	&__card-text {
		margin: 10px 0;
		font-size: 1.4rem;
	}
	
	&__card-list {
		list-style: inside square;
	}
	
	
	&__card-list-element {
		color: $secondary-orange;
	}
	
	&__card-element {
		font-size: 1.4rem;
		font-style: italic;
		color: black;
		transition: color .3s;
	}

	&__btn {
		@include btn-style;
		text-align: center;
		margin-top: 25px;
		background-color: $white-color;
		font-size: 2rem;
		margin-bottom: 30px;
	}
}

// ABOUT-US
.about-us {
	background-color: $main-black;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 40px 0px;
		}
	
	&__img {
		display: block;
		width: 100%;
		max-height: 400px;
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		color: $darker-white-color;
	}

	&__title {
		font-size: 3rem;
		font-family: $secondary-font;
		text-align: center;
		text-transform: uppercase;
		margin: 30px 0px;
	}

	&__list {
		list-style: inside square;
		margin: 0px 20px;
		margin-bottom: 20px;
	}

	&__list-element {
		margin-bottom: 10px;
		color: $secondary-orange;
	}

	&__list-element--text {
		color: $white-color;
		line-height: 1.7em;
		font-style: italic;
	}
	
	
}




// FOOTER
.footer {
	background-color: $main-black;
	
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__localization-box {
		margin: 30px 10px;
		width: 280px;
		height: 200px;

		.footer__title {
			text-align: center;
			color: $darker-white-color;
		}
	}

	&__map {
		width: 100%;
		height: 100%;
	}

	&__text-containers {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
	}

	&__text-container {
		margin-top: 20px;
		color: $darker-white-color;
	}

	&__title {
		font-family: $secondary-font;
		text-transform: uppercase;
		font-size: 1.6rem;
		margin-bottom: 3px;
	}

	&__title--email {
		margin-top: 20px;
	}

	&__text {
		font-style: italic;
		font-size: 1.4rem;
	}

	&__footer {
		text-align: center;
		color: $darker-white-color;
		margin-top: 20px;
		font-size: 1.3rem;
	}
}


@keyframes navMobileAnimation {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




@media (min-width: 576px) {
	.fi {
		font-size: 1.6rem;
	}
	.nav {
		&__logo {
			font-size: 4rem;
		}

		&__logo-name {
			font-size: 3rem;
		}

		&__login, &__mobile-icon, &__item-mobile  {
			font-size: 1.6rem;
		}

		&__login-box, &__mobile-box, &__language-box {
			margin-top: 10px;
		}

		&__language-box {
			margin-right: 40px;
		}

		&__item-mobile {
			padding: 20px;
		}

		&__mobile-items-box {
			left: -28px;
			top: 45px;
		}
	}
}

@media(min-width: 850px){
	.about-us {
		&__container {
			flex-direction: row;
			justify-content: flex-start;
			height: 450px;
		}

		&__img {
			max-height: none;
			height: 100%;
			width: 50%;
		}

		&__text-container {
			margin-bottom: 5%;
		}
	}
}

@media(min-width: 992px) {
	.nav {
		&__items-box {
			display: inline-block;
			margin-left: 10%;
			margin-top: 10px;
		}

		&__mobile-box {
			display: none;
		}
	}

	.header {
		&__img {
			background-image: url('../../dist/img/dent-chair_1920.jpg');
		}

		&__text-box {
			left: 15%;
			top: 35%;
			transform: none;
		}
	}

	.offer {
		&__card-container {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
		}

		&__card {
			width: 300px;
			height: 410px;

		}

		&__card-img {
			min-height: none;
			max-height: 200px;
		}
	}
}

@media(min-width: 1200px){
	.offer {
		&__card {
			width: 350px;
		}
	}
	.about-us {
		&__container {
			height: 550px;
		}
	}
}
