@use './colors' as *;
@use './font' as *;
@use './mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: $darker-white-color;
	font-family: $main-font;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

// NAVIGATION
// NAVIGATION
// NAVIGATION
.fi {
	font-size: 12px;
}

nav {
	background-color: $main-black;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 80px;

	&__logo-box,
	&__login-box,
	&__language-box {
		display: inline-block;
	}

	&__logo-box {
		position: relative;
		margin-left: 25px;
		padding: 0px 5px;
		min-width: 130px;
		@include hover-style;
	}

	&__logo {
		color: $darker-white-color;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	&__logo-name {
		margin-left: 10px;
		font-family: $secondary-font;
		font-size: 20px;
		color: $main-orange;
	}

	&__mobile-box{
		display: inline-block;
		position: relative;
		margin-top: 5px;
	}
	
	&__mobile-icon {
		border: 1px solid transparent;
		background-color: transparent;
		font-size: 12px;
		font-weight: bold;
		color: $main-orange;
		cursor: pointer;
		@include hover-style;
	}

	&__mobile-items-box {
		position: absolute;
		left: -20px;
		top: 47px;
	}

	&__item-mobile {
		display: none;
		opacity: 0;
		text-align: center;
		color: $darker-white-color;
		text-decoration: none;
		padding: 15px;
		font-size: 12px;
		font-weight: bold;
		background-color: $secondary-black;
		border-top: 1px solid $darker-white-color;
		animation: navMobileAnimation .5s forwards;
		
		&:first-child {
			border-top: none;
		}

		&:nth-child(2){
			animation-delay: .2s;
		}
		&:nth-child(3){
			animation-delay: .4s;
		}
		&:nth-child(4){
			animation-delay: .6s;
		}
		&:nth-child(5){
			animation-delay: .8s;
		}
		
		&:last-child{
			border-bottom: none;
		}
	}
	
	&__active {
		display: block;
	}

	&__items-box {
		display: none;
	}

	&__item {
		margin: 0 20px;
		color: $darker-white-color;
		text-decoration: none;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		transition: color 0.3s;

		&:hover {
			color: $main-orange;
		}
	}

	&__login-box {
		margin-top: 5px;
	}

	&__login {
		position: relative;
		color: $main-orange;
		font-size: 12px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		@include hover-style;
	}

	&__language-box {
		margin-right: 10px;
		margin-top: 5px;
	}
}

@keyframes navMobileAnimation {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




@media (min-width: 576px) {
	.fi {
		font-size: 16px;
	}
	.nav {
		&__logo {
			font-size: 40px;
		}

		&__logo-name {
			font-size: 30px;
		}

		&__login {
			font-size: 16px;
		}

		&__login-box {
			margin-top: 10px;
		}

		&__mobile-box {
			margin-top: 10px;
		}

		&__mobile-icon {
			font-size: 16px;
		}

		&__language-box {
			margin-top: 10px;
			margin-right: 40px;
		}

		&__item-mobile {
			font-size: 16px;
			padding: 20px;
		}

		&__mobile-items-box {
			left: -28px;
			top: 45px;
		}
	}
}

@media(min-width: 992px) {
	.nav {
		&__items-box {
			display: inline-block;
			margin-left: 10%;
			margin-top: 10px;
		}

		&__mobile-box {
			display: none;
		}
	}
}
